{% extends 'base.html' %}
{% block content %}
<h1>Your Cart</h1>

{% for key, item in cart.items %}
    <div style="border:1px solid black; margin:10px; padding:10px;">
        <h3>{{ item.name }} ({{ item.variant }})</h3>

        <p>
            ₹{{ item.price }} x {{ item.quantity }}
        </p>

        <a href="{% url 'increase_quantity' key %}">
            <button>+</button>
        </a>

        <a href="{% url 'decrease_quantity' key %}">
            <button>-</button>
        </a>

        <a href="{% url 'remove_item' key %}">
            <button>Remove</button>
        </a>
    </div>
{% empty %}
    <p>Your cart is empty</p>
{% endfor %}

<h3>Subtotal: ₹{{ subtotal }}</h3>
<h3>SGST (2.5%): ₹{{ sgst }}</h3>
<h3>CGST (2.5%): ₹{{ cgst }}</h3>

<hr>
<h2>Total: ₹{{ total }}</h2>
<form method="post" action="{% url 'place_order' %}">
    {% csrf_token %}
    <button type="submit">Place Order</button>
</form>
<a href="{% url 'menu' %}">
    <button>Back to Menu</button>
</a>
{% endblock %}