{% extends "base.html" %}
{% block content %}
    <h1>Your Orders</h1>

{% for order in orders %}
    <div style="border:1px solid black; margin:10px; padding:10px;">
        <h3>Order ID: {{ order.id }}</h3>
        <p>Date: {{ order.created_at }}</p>

        <ul>
            {% for item in order.orderitem_set.all %}
                <li>
                    {{ item.item.name }} × {{ item.quantity }}
                    (₹{{ item.price }})
                </li>
            {% endfor %}
        </ul>
        <p>Status: {{ order.status }}</p>
        <hr>
        <p>Total: ₹{{ order.total_amount }}</p>
    </div>
{% empty %}
    <p>No orders yet</p>
{% endfor %}
{% endblock %}