{% extends "base.html" %}
{% block content %}
    <h1>Pay Now</h1>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<button id="pay-btn">Pay ₹{{ order.total_amount }}</button>

<script>
var options = {
    "key": "{{ key }}",
    "amount": "{{ payment.amount }}",
    "currency": "INR",
    "order_id": "{{ payment.id }}",

    "handler": function (response){
        window.location.href = "/payment-success/?payment_id=" + response.razorpay_payment_id;
    }
};

var rzp = new Razorpay(options);

document.getElementById('pay-btn').onclick = function(e){
    rzp.open();
    e.preventDefault();
}
</script>
{% endblock %}